* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  z-index: 10;
}




.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(242, 231, 231);
}

.btn {
  text-decoration: none;
  background-color: rgb(232, 242, 242);
  color: rgb(41, 5, 5);
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid teal;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #11acac;
  border-color: #11acac;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: rgb(7, 52, 52);
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: teal;
  color: white;
}